POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=smart_crm
POSTGRES_USER=crm_user
POSTGRES_PASSWORD=crm_password

N8N_WEBHOOK_URL=https://n8n.icentras.com/webhook/985bc2fe-9c6c-49ae-bc3f-fac24adeb400